a {
    align-content: initial;
    border: solid 1px #aebebe;
    position: absolute;
    bottom: 1px;
    left: 80%;
}
b, strong {
    font-weight: bolder;
    bottom: 2%;
    align-content: initial;
    border: solid 1px #aebebe;
    position: absolute;
    background: yellowgreen;
    height: 30px;
    width: 132px;
    margin-left: 10px;
}